<hello name="{{ name }}"></hello>
<p>
	Start editing to see some magic happen :)
</p>

<input
	#nameInput
	type="text"
	[ngModel]="name"
	(ngModelChange)="name = $event"
/>

<button (click)="showLast = !showLast">Toggle show last</button>

<!-- toggleComp là instance của ToggleComponent -->
<app-toggle [(checked)]="isChecked"></app-toggle>
<app-toggle [(checked)]="isChecked"></app-toggle>
<app-toggle [(checked)]="isChecked"></app-toggle>
<ng-container *ngIf="showLast">
	<app-toggle [(checked)]="isChecked"></app-toggle>
</ng-container>

<!-- <button #toggleButton>Toggle me</button> -->
